In [44]:
pip install delta-spark

Requirement already satisfied: delta-spark in /opt/conda/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from delta-spark) (4.11.4)
Requirement already satisfied: pyspark<3.4.0,>=3.3.0 in /usr/local/spark-3.3.0-bin-hadoop3/python (from delta-spark) (3.3.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata>=1.0.0->delta-spark) (3.9.0)
Requirement already satisfied: py4j==0.10.9.5 in /opt/conda/lib/python3.10/site-packages (from pyspark<3.4.0,>=3.3.0->delta-spark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [45]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9000/Qualidade_NYC/gold'

builder = SparkSession \
    .builder \
    .master("local[2]") \
    .appName("Python Spark DataFrames and SQL") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [46]:
spark.sql(
    """
    CREATE DATABASE IF NOT EXISTS gold LOCATION 'hdfs://hdfs-nn:9000/Qualidade_NYC/gold/Projeto.db/'
    """
)

DataFrame[]

In [47]:
# create Children table in gold

spark.sql(
    """
    DROP TABLE IF EXISTS Projeto.gold_Children
    """
)

DataFrame[]

In [48]:
spark.sql(
    """
    CREATE EXTERNAL TABLE Projeto.gold_Children (
        geo_area_name STRING,
        time_period INT,
        BLL_Bigger_or_equal_5 INT,
        BLL_Bigger_or_equal_10 INT,
        BLL_Bigger_or_equal_15 INT,
        BLL_Number_Tested FLOAT,
        BLL_Bigger_or_equal_15_per_1000_tested FLOAT,
        Percentage_BLL_Bigger_or_equal_5 DOUBLE,
        Percentage_BLL_Bigger_or_equal_10 DOUBLE,
        Percentage_BLL_Bigger_or_equal_15 DOUBLE
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/Qualidade_NYC/gold/projeto.db/gold_Children/'
    """
)

DataFrame[]

In [49]:
from pyspark.sql.functions import substring, avg, sum

# read Children from the silver tables
hdfs_path = "hdfs://hdfs-nn:9000/Qualidade_NYC/silver/projeto.db/Children/"

gold_Children = spark\
             .read\
             .load(hdfs_path)

gold_Children.show()
gold_Children.printSchema()

+--------+-----------+-------------+----------+-----------+--------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------+---------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+
|geo_type|geo_area_id|geo_area_name|borough_id|time_period|Children_under_6_years_with_elevated_blood_lead_levels__Number_BLL__Bigger_or_equal_5_|Children_under_6_years_with_elevated_blood_lead_levels__Number_BLL_Bigger_or_equal_10_|Children_under_6_years_with_elevated_blood_lead_levels__Number_BLL_Bigger_or_equal_15_|Children_under_6_years_with_elevated_blood_lead_levels__Number_Tested|Children_under_6_years_with_elevated_blood_lead_levels__Rate__BLL_Bigger_or_equal_5__per_1000_tested|Children_under_6_years_with_elevated_blood_lead_levels__Rate_BLL_Bigger_or_equal_10__per_1000_tested|Children_under_6_years_with_elevated_blood_lead_levels__Rate_BLL_Bigger_or_equal_15__per_1000_tested|
+--------+-----------+-------------+----------+-----------+--------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------+---------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+
| Borough|          1|        Bronx|         1|       2005|                                                                                  8245|                                                                                   595|                                                                                   167|                                                              64500.0|                                                                                               127.7|                                                                                                 9.2|                                                                                                 2.6|
| Borough|          1|        Bronx|         1|       2006|                                                                                  7272|                                                                                   474|                                                                                   144|                                                              67200.0|                                                                                               108.2|                                                                                                 7.1|                                                                                                 2.1|
| Borough|          1|        Bronx|         1|       2007|                                                                                  6174|                                                                                   438|                                                                                   135|                                                              68300.0|                                                                                                90.4|                                                                                                 6.4|                                                                                                 2.0|
| Borough|          1|        Bronx|         1|       2008|                                                                                  4254|                                                                                   292|                                                                                   105|                                                              69800.0|                                                                                                60.9|                                                                                                 4.2|                                                                                                 1.5|
| Borough|          1|        Bronx|         1|       2009|                                                                                  2742|                                                                                   278|                                                                                   103|                                                              70000.0|                                                                                                39.2|                                                                                                 4.0|                                                                                                 1.5|
| Borough|          1|        Bronx|         1|       2010|                                                                                  2625|                                                                                   290|                                                                                   101|                                                              70100.0|                                                                                                37.5|                                                                                                 4.1|                                                                                                 1.4|
| Borough|          1|        Bronx|         1|       2011|                                                                                  1996|                                                                                   231|                                                                                    75|                                                              70100.0|                                                                                                28.5|                                                                                                 3.3|                                                                                                 1.1|
| Borough|          1|        Bronx|         1|       2012|                                                                                  1396|                                                                                   184|                                                                                    81|                                                              66800.0|                                                                                                20.9|                                                                                                 2.8|                                                                                                 1.2|
| Borough|          1|        Bronx|         1|       2013|                                                                                  1312|                                                                                   193|                                                                                    74|                                                              65300.0|                                                                                                20.1|                                                                                                 3.0|                                                                                                 1.1|
| Borough|          1|        Bronx|         1|       2014|                                                                                  1186|                                                                                   177|                                                                                    68|                                                              63400.0|                                                                                                18.7|                                                                                                 2.8|                                                                                                 1.1|
| Borough|          1|        Bronx|         1|       2015|                                                                                   971|                                                                                   155|                                                                                    61|                                                              61700.0|                                                                                                15.7|                                                                                                 2.5|                                                                                                 1.0|
| Borough|          1|        Bronx|         1|       2016|                                                                                   884|                                                                                   162|                                                                                    71|                                                              59000.0|                                                                                                15.0|                                                                                                 2.7|                                                                                                 1.2|
| Borough|          2|     Brooklyn|         2|       2005|                                                                                 15015|                                                                                  1301|                                                                                   448|                                                             106800.0|                                                                                               140.6|                                                                                                12.2|                                                                                                 4.2|
| Borough|          2|     Brooklyn|         2|       2006|                                                                                 14199|                                                                                  1230|                                                                                   412|                                                             103800.0|                                                                                               136.9|                                                                                                11.9|                                                                                                 4.0|
| Borough|          2|     Brooklyn|         2|       2007|                                                                                 12622|                                                                                  1002|                                                                                   325|                                                             104500.0|                                                                                               120.7|                                                                                                 9.6|                                                                                                 3.1|
| Borough|          2|     Brooklyn|         2|       2008|                                                                                  8288|                                                                                   777|                                                                                   266|                                                             108300.0|                                                                                                76.6|                                                                                                 7.2|                                                                                                 2.5|
| Borough|          2|     Brooklyn|         2|       2009|                                                                                  6719|                                                                                   698|                                                                                   252|                                                             111900.0|                                                                                                60.0|                                                                                                 6.2|                                                                                                 2.3|
| Borough|          2|     Brooklyn|         2|       2010|                                                                                  6182|                                                                                   707|                                                                                   250|                                                             117500.0|                                                                                                52.6|                                                                                                 6.0|                                                                                                 2.1|
| Borough|          2|     Brooklyn|         2|       2011|                                                                                  5483|                                                                                   595|                                                                                   182|                                                             119800.0|                                                                                                45.8|                                                                                                 5.0|                                                                                                 1.5|
| Borough|          2|     Brooklyn|         2|       2012|                                                                                  4017|                                                                                   460|                                                                                   148|                                                             113700.0|                                                                                                35.3|                                                                                                 4.0|                                                                                                 1.3|
+--------+-----------+-------------+----------+-----------+--------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------+---------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------+
only showing top 20 rows

root
 |-- geo_type: string (nullable = true)
 |-- geo_area_id: integer (nullable = true)
 |-- geo_area_name: string (nullable = true)
 |-- borough_id: integer (nullable = true)
 |-- time_period: integer (nullable = true)
 |-- Children_under_6_years_with_elevated_blood_lead_levels__Number_BLL__Bigger_or_equal_5_: integer (nullable = true)
 |-- Children_under_6_years_with_elevated_blood_lead_levels__Number_BLL_Bigger_or_equal_10_: integer (nullable = true)
 |-- Children_under_6_years_with_elevated_blood_lead_levels__Number_BLL_Bigger_or_equal_15_: integer (nullable = true)
 |-- Children_under_6_years_with_elevated_blood_lead_levels__Number_Tested: float (nullable = true)
 |-- Children_under_6_years_with_elevated_blood_lead_levels__Rate__BLL_Bigger_or_equal_5__per_1000_tested: float (nullable = true)
 |-- Children_under_6_years_with_elevated_blood_lead_levels__Rate_BLL_Bigger_or_equal_10__per_1000_tested: float (nullable = true)
 |-- Children_under_6_years_with_elevated_blood_lead_levels__Rate_BLL_Bigger_or_equal_15__per_1000_tested: float (nullable = true)

In [50]:
rename=(column.replace('Children_under_6_years_with_elevated_blood_lead_levels__Rate__','') for column in gold_Children.columns)
gold_Children = gold_Children.toDF(*rename)
rename=(column.replace('Children_under_6_years_with_elevated_blood_lead_levels__Rate_','') for column in gold_Children.columns)
gold_Children = gold_Children.toDF(*rename)
rename=(column.replace('Children_under_6_years_with_elevated_blood_lead_levels__Number_','') for column in gold_Children.columns)
gold_Children = gold_Children.toDF(*rename)
rename=(column.replace('Tested','BLL_Number_Tested') for column in gold_Children.columns)
gold_Children = gold_Children.toDF(*rename)
rename=(column.replace('5_','5') for column in gold_Children.columns)
gold_Children = gold_Children.toDF(*rename)
rename=(column.replace('10_','10') for column in gold_Children.columns)
gold_Children = gold_Children.toDF(*rename)
rename=(column.replace('BLL__','BLL_') for column in gold_Children.columns)
gold_Children = gold_Children.toDF(*rename)
gold_Children.toPandas()

,geo_type,geo_area_id,geo_area_name,borough_id,time_period,BLL_Bigger_or_equal_5,BLL_Bigger_or_equal_10,BLL_Bigger_or_equal_15,BLL_Number_Tested,BLL_Bigger_or_equal_5_per_1000_tested,BLL_Bigger_or_equal_10_per_1000_tested,BLL_Bigger_or_equal_15_per_1000_tested
0,Borough,1,Bronx,1.0,2005,8245,595,167,64500.0,127.699997,9.2,2.6
1,Borough,1,Bronx,1.0,2006,7272,474,144,67200.0,108.199997,7.1,2.1
2,Borough,1,Bronx,1.0,2007,6174,438,135,68300.0,90.400002,6.4,2.0
3,Borough,1,Bronx,1.0,2008,4254,292,105,69800.0,60.900002,4.2,1.5
4,Borough,1,Bronx,1.0,2009,2742,278,103,70000.0,39.200001,4.0,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...
1147,Neighborhood (UHF 42),104,Pelham - Throgs Neck,1.0,2005,1314,86,24,11600.0,113.199997,7.4,2.1
1148,Neighborhood (UHF 42),301,Washington Heights,3.0,2006,1115,104,36,11200.0,99.800003,9.3,3.2
1149,Neighborhood (UHF 42),407,Southwest Queens,4.0,2013,239,39,15,11400.0,20.900000,3.4,1.3
1150,Neighborhood (UHF 42),106,High Bridge - Morrisania,1.0,2013,281,31,9,11800.0,23.799999,2.6,0.8
1151,Neighborhood (UHF 42),103,Fordham - Bronx Pk,1.0,2016,209,47,24,11900.0,17.500000,3.9,2.0

In [51]:
gold_Children = gold_Children.drop("geo_type")
gold_Children = gold_Children.drop("geo_area_id")
gold_Children = gold_Children.drop("borough_id")
gold_Children = gold_Children.drop("BLL_Bigger_or_equal_5_per_1000_tested")
gold_Children = gold_Children.drop("BLL_Bigger_or_equal_10_per_1000_tested")

In [52]:
gold_Children = gold_Children.withColumn('Percentage_BLL_Bigger_or_equal_5',expr("(BLL_Bigger_or_equal_5/BLL_Number_Tested)*100"))
gold_Children = gold_Children.withColumn('Percentage_BLL_Bigger_or_equal_10',expr("(BLL_Bigger_or_equal_10/BLL_Number_Tested)*100"))
gold_Children = gold_Children.withColumn('Percentage_BLL_Bigger_or_equal_15',expr("(BLL_Bigger_or_equal_15/BLL_Number_Tested)*100"))
gold_Children.printSchema()
gold_Children.show()

root
 |-- geo_area_name: string (nullable = true)
 |-- time_period: integer (nullable = true)
 |-- BLL_Bigger_or_equal_5: integer (nullable = true)
 |-- BLL_Bigger_or_equal_10: integer (nullable = true)
 |-- BLL_Bigger_or_equal_15: integer (nullable = true)
 |-- BLL_Number_Tested: float (nullable = true)
 |-- BLL_Bigger_or_equal_15_per_1000_tested: float (nullable = true)
 |-- Percentage_BLL_Bigger_or_equal_5: double (nullable = true)
 |-- Percentage_BLL_Bigger_or_equal_10: double (nullable = true)
 |-- Percentage_BLL_Bigger_or_equal_15: double (nullable = true)

+-------------+-----------+---------------------+----------------------+----------------------+-----------------+--------------------------------------+--------------------------------+---------------------------------+---------------------------------+
|geo_area_name|time_period|BLL_Bigger_or_equal_5|BLL_Bigger_or_equal_10|BLL_Bigger_or_equal_15|BLL_Number_Tested|BLL_Bigger_or_equal_15_per_1000_tested|Percentage_BLL_Bigger_or_equal_5|Percentage_BLL_Bigger_or_equal_10|Percentage_BLL_Bigger_or_equal_15|
+-------------+-----------+---------------------+----------------------+----------------------+-----------------+--------------------------------------+--------------------------------+---------------------------------+---------------------------------+
|        Bronx|       2005|                 8245|                   595|                   167|          64500.0|                                   2.6|               12.78294573643411|               0.9224806201550387|               0.2589147286821705|
|        Bronx|       2006|                 7272|                   474|                   144|          67200.0|                                   2.1|              10.821428571428573|               0.7053571428571428|               0.2142857142857143|
|        Bronx|       2007|                 6174|                   438|                   135|          68300.0|                                   2.0|               9.039531478770131|               0.6412884333821377|              0.19765739385065886|
|        Bronx|       2008|                 4254|                   292|                   105|          69800.0|                                   1.5|              6.0945558739255015|              0.41833810888252154|               0.1504297994269341|
|        Bronx|       2009|                 2742|                   278|                   103|          70000.0|                                   1.5|              3.9171428571428573|              0.39714285714285713|              0.14714285714285713|
|        Bronx|       2010|                 2625|                   290|                   101|          70100.0|                                   1.4|              3.7446504992867338|              0.41369472182596295|              0.14407988587731813|
|        Bronx|       2011|                 1996|                   231|                    75|          70100.0|                                   1.1|               2.847360912981455|              0.32952924393723254|              0.10699001426533523|
|        Bronx|       2012|                 1396|                   184|                    81|          66800.0|                                   1.2|               2.089820359281437|               0.2754491017964072|               0.1212574850299401|
|        Bronx|       2013|                 1312|                   193|                    74|          65300.0|                                   1.1|               2.009188361408882|              0.29555895865237364|              0.11332312404287902|
|        Bronx|       2014|                 1186|                   177|                    68|          63400.0|                                   1.1|              1.8706624605678235|               0.2791798107255521|              0.10725552050473185|
|        Bronx|       2015|                  971|                   155|                    61|          61700.0|                                   1.0|               1.573743922204214|              0.25121555915721233|              0.09886547811993518|
|        Bronx|       2016|                  884|                   162|                    71|          59000.0|                                   1.2|              1.4983050847457628|               0.2745762711864407|              0.12033898305084745|
|     Brooklyn|       2005|                15015|                  1301|                   448|         106800.0|                                   4.2|              14.058988764044944|               1.2181647940074907|               0.4194756554307116|
|     Brooklyn|       2006|                14199|                  1230|                   412|         103800.0|                                   4.0|              13.679190751445086|               1.1849710982658959|              0.39691714836223513|
|     Brooklyn|       2007|                12622|                  1002|                   325|         104500.0|                                   3.1|              12.078468899521532|               0.9588516746411483|              0.31100478468899523|
|     Brooklyn|       2008|                 8288|                   777|                   266|         108300.0|                                   2.5|               7.652816251154201|               0.7174515235457064|               0.2456140350877193|
|     Brooklyn|       2009|                 6719|                   698|                   252|         111900.0|                                   2.3|               6.004468275245755|               0.6237712243074173|                0.225201072386059|
|     Brooklyn|       2010|                 6182|                   707|                   250|         117500.0|                                   2.1|               5.261276595744681|               0.6017021276595744|               0.2127659574468085|
|     Brooklyn|       2011|                 5483|                   595|                   182|         119800.0|                                   1.5|               4.576794657762939|                0.496661101836394|              0.15191986644407346|
|     Brooklyn|       2012|                 4017|                   460|                   148|         113700.0|                                   1.3|               3.532981530343008|               0.4045734388742305|              0.13016710642040458|
+-------------+-----------+---------------------+----------------------+----------------------+-----------------+--------------------------------------+--------------------------------+---------------------------------+---------------------------------+
only showing top 20 rows

In [53]:
#group by name, geo place name
from pyspark.sql.functions import sum,avg,max,count
gold = gold_Children.groupBy("geo_area_name").count()\
    .show()

+--------------------+-----+
|       geo_area_name|count|
+--------------------+-----+
|     Northeast Bronx|   24|
|Greenwich Village...|   24|
|              Queens|   24|
|     Lower Manhattan|   24|
|Central Harlem - ...|   24|
|Stapleton - St. G...|   24|
|Union Square - Lo...|   24|
|  Washington Heights|   24|
|    Southeast Queens|   24|
|East Flatbush - F...|   24|
|Ridgewood - Fores...|   24|
|     Upper East Side|   24|
|Hunts Point - Mot...|   24|
|Gramercy Park - M...|   24|
|         East Harlem|   24|
|    Southwest Queens|   24|
|         Sunset Park|   24|
|Bensonhurst - Bay...|   24|
|Bedford Stuyvesan...|   24|
|Downtown - Height...|   24|
+--------------------+-----+
only showing top 20 rows

In [54]:
# write to delta table
gold_Children \
    .select("geo_area_name","time_period","BLL_Bigger_or_equal_5","BLL_Bigger_or_equal_10","BLL_Bigger_or_equal_15","BLL_Number_Tested","BLL_Bigger_or_equal_15_per_1000_tested","Percentage_BLL_Bigger_or_equal_5","Percentage_BLL_Bigger_or_equal_10","Percentage_BLL_Bigger_or_equal_15") \
    .write \
    .format("delta") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/Qualidade_NYC/gold/Projeto.db/gold_Children/")

In [55]:
# check the results in the table
spark.table("Projeto.gold_Children").show()
spark.table("Projeto.gold_Children").count()

+-------------+-----------+---------------------+----------------------+----------------------+-----------------+--------------------------------------+--------------------------------+---------------------------------+---------------------------------+
|geo_area_name|time_period|BLL_Bigger_or_equal_5|BLL_Bigger_or_equal_10|BLL_Bigger_or_equal_15|BLL_Number_Tested|BLL_Bigger_or_equal_15_per_1000_tested|Percentage_BLL_Bigger_or_equal_5|Percentage_BLL_Bigger_or_equal_10|Percentage_BLL_Bigger_or_equal_15|
+-------------+-----------+---------------------+----------------------+----------------------+-----------------+--------------------------------------+--------------------------------+---------------------------------+---------------------------------+
+-------------+-----------+---------------------+----------------------+----------------------+-----------------+--------------------------------------+--------------------------------+---------------------------------+---------------------------------+

0

In [56]:
spark.sql("""
GENERATE symlink_format_manifest FOR TABLE delta.`hdfs://hdfs-nn:9000/Qualidade_NYC/gold/Projeto.db/gold_Children/`
""").show()

++
||
++
++

In [57]:
spark.sql("""
DROP TABLE IF EXISTS Projeto.gold_Children_presto 
""").show()

++
||
++
++

In [58]:

spark.sql("""
    CREATE EXTERNAL TABLE Projeto.gold_Children_presto (
        geo_area_name STRING,
        time_period INT,
        BLL_Bigger_or_equal_5 INT,
        BLL_Bigger_or_equal_10 INT,
        BLL_Bigger_or_equal_15 INT,
        BLL_Number_Tested FLOAT,
        BLL_Bigger_or_equal_15_per_1000_tested FLOAT,
        Percentage_BLL_Bigger_or_equal_5 DOUBLE,
        Percentage_BLL_Bigger_or_equal_10 DOUBLE,
        Percentage_BLL_Bigger_or_equal_15 DOUBLE
    )
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'org.apache.hadoop.hive.ql.io.SymlinkTextInputFormat'
OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 'hdfs://hdfs-nn:9000/Qualidade_NYC/gold/Projeto.db/gold_Children/_symlink_format_manifest'
""").show()

++
||
++
++